<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Remix Loyalty</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_media.css' )}}">
</head>
<body>
    {% block body %}
    {% endblock %}
    
<script src="{{ url_for('static', filename='/scripts/base.js')}}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</body>
</html>