<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remix Royalty</title>
    <!-- Linking stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexmedia.css') }}">

    <!-- End of linking stylesheet -->
    
</head>
<body>
    <section class="one">

    <nav id="nav-lg">
        <h3>Remix</h3>
        <div class="links">
            <a href="{{ url_for('admin') }}" id="admin">Admin</a>
            <a href="{{ url_for('login') }}" id="login">Log In</a>
        </div>
    </nav>

    <section class="one-child">

    <!-- Intro section-->
    <div class="intro">
    
    <!-- NAVIGATION -->
    <nav id="nav-sm">
        <h3>Remix</h3>
        <div class="links">
            <a href="{{ url_for('admin') }}" id="admin">Admin</a>
            <a href="{{ url_for('login') }}" id="login">Log In</a>
        </div>
    </nav>
    <!-- END OF NAVIGATION -->

    <!-- HEADER -->
    <div class="intro-wrapper">
        <header>
            <h1>
                Unlock Exclusive Rewards: Join Our Elite Loyalty Program Today!
            </h1>
            <p>
                Your loyalty deserves the best. Introducing our exceptional loyalty program, where rewards meet excellence. 
                Join now to unlock a world of exclusive benefits, personalized offers, and unforgettable experiences. 
                Experience loyalty reimagined, tailored specifically for you.
            </p>    
        </header>

    </div>   

    <!-- END OF HEADER -->
    </div>  
    <!-- End of Intro section -->
    
    <!-- NEW USER FORM -->
    <div class="newuser_wrapper">
        <div class="newuser_container">
            <h3>Apply Now</h3>
            <p>Enter your info. Become a royalty and start earning points</p>
            <form action="" id="register-sm" method="post">
                <input type="email" placeholder="Email address..." name="email">
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
    <!-- END OF NEW USER FORM -->
    </section>
    </section>

    <!-- END OF SECTION ONE -->

    <!-- START OF SECTION TWO -->
    <section class="two">
        <h1>Now Introducing!</h1>
        <section class="two-child">
        <section class="features-wrapper">
            <div class="features">
            <h3>A loyalty Program</h3>
            <p>As a valued customer, we believe you deserve more than just great products and top-notch service.
                That's why we've created a program that rewards you for your loyalty and makes shopping with us even more exciting.
                With our loyalty program, you'll earn points every time you shop that can be redeemed for exclusive discounts,
                free shipping, and even early access to new products.
            </p>
            </div>

            <div class="features">
                <h3>Special Promotions & sales</h3>
                <p>Plus, as a member, you'll have access to special promotions and sales that are reserved just for you.
                     It's our way of saying "thank you" for choosing us as your go-to shopping destination. 
                    So don't wait any longer – sign up today and start earning rewards with every purchase!
                </p>
                </div>
        </section>

        <div class="container">
            <pre  class="language-css" tabindex="0"><code class="language-css"><span class="token selector"><img src="{{ url_for('static', filename='/images/dashboard.jpg') }}" alt="dashboard" id="dashboards"></span></code></pre>
    
        </div>
        </section>
    </section>
    <!-- END OF SECTION TWO -->


    <!-- SECTION THREE -->
    <section class="three">
        <h1>What you'll get</h1>
        <section class="three-child"><!--courasel-->
            <section class="benefits"> <!--corasel container-->
                <div class="benefit">
                    <img src="{{ url_for('static', filename='/images/redeemable.svg') }}" alt="Redeemable points" class="benefit-icons" style="color: red;" >
                    <h3>Redeemable Points</h3>
                    <p>
                       Looking for ways to save big on your favorite products? Look no further than our loyalty program!
                       With redeemable points and huge discounts,
                       our loyalty program is the ultimate way to get more bang for your buck.
                    </p>
                </div>

                <div class="benefit">
                    <img src="{{ url_for('static', filename='/images/offer.png') }}" alt="Discounts" class="benefit-icons" >
                    <h3>Exclusive Discounts & Sales</h3>
                    <p>
                        As a subscriber to our loyalty program, you'll get access to some of the most exclusive discounts around.
                        From limited-time promotions to members-only sales, our loyalty program offers the kind of savings that 
                        you won't find anywhere else.
                    </p>
                </div>

                <div class="benefit">
                    <img src="{{ url_for('static', filename='/images/shopping-bag.png') }}" alt="Redeemable points" class="benefit-icons" >
                    <h3>New Arrivals</h3>
                    <p>
                       Looking for ways to save big on your favorite products? Look no further than our loyalty program!
                       With redeemable points and huge discounts,
                       our loyalty program is the ultimate way to get more bang for your buck.
                    </p>
                </div>
            </section>


            <div class="card">
                <div class="card__content">
                  
                  <div class="card__front">
                    <h3 class="card__title">Integrating the best technology is the backbone of our business.</h3>
                    <p class="card__subtitle">Constantly looking for ways to improve our customers' experience</p>
                  </div> 
                  
                  <div class="card__back">
                    <p class="card__body">
                        We're constantly looking for ways to improve our customers' 
                        experience, and that's why we've made it a priority to integrate the latest and
                        greatest technology into our loyalty program. With cutting-edge features like seamless point tracking,
                        personalized rewards, and easy redemption, our loyalty program is designed to make your shopping experience as convenient and rewarding as possible. Plus, with our user-friendly Web app, you can stay up-to-date
                        on your points balance and rewards, no matter where you are.
                    </p>
                  </div>
                  
                </div>
              </div>
        </section>
    </section>

    <!-- END SECTION THREE -->

    <!-- SECTION FOUR -->

    <section class="four">
        <div class="benefit_four">
            <p class="benefit_title">BENEFITS</p>
            <h3>Driving growth by creating emotional connections with your existing base</h3>
            <p class="benefit_content">
                Preventing external factors from putting pressure on continued growth. Using our loyalty program to navigate rising acquisition costs and prevent customers from being tempted away by other stores’ introductory offers, creating emotional connections that keep customers engaged and seeing value from our brand, even when they’re not ready to spend.
            </p>
        </div>
        <div class="four_statistics">
            <div class="stat_container">
                <h3>47%</h3>
                <p>Higher chance of repeat purchase</p>
            </div>
            <div class="stat_container">
                <h3>40%</h3>
                <p>Higher annual spend</p>
            </div>
            <div class="stat_container">
                <h3>23%</h3>
                <p>Higher purchase frequency</p>
            </div>
        </div>
    </section>

    <!-- END OF SECTION FOUR -->

    <!-- START OF SECTION FIVE -->

    <section class="five">
        <h2>Become a royalty today</h2>
        <p>Join our community to unlock a number of benefits and perks.</p>
        <p>Join today and get <span>100</span> bonus points for <span>Free!</span></p>
        <a href="{{ url_for('register') }}">Become a royalty </a>
    </section>

    <!-- END OF SECTION FIVE -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="{{ url_for('static', filename='/scripts/index.js') }}" defer></script>
</body>
</html>